<section id="list__movie">
  <div id="list__pagination">
    <pagination-controls (pageChange)=" page = $event" class="my-pagination" responsive="true"></pagination-controls>
  </div>
  <div class="list__movie">
    <app-item [movie]='item' *ngFor="let item of listMovie | paginate: { itemsPerPage: 8, currentPage: page }" ></app-item>
  </div>
  <div id="list__pagination">
    <pagination-controls (pageChange)=" page = $event" class="my-pagination" responsive="true"></pagination-controls>
  </div>
</section>


