<section id="cart__movie">
  <div class="cart__img">
    <img data-src="{{ movie?.hinhAnh }}" data-sizes="auto" alt="..." width="200px" loading="lazy" />
    <div class="show__case" [routerLink]="'/detail/'+ movie?.maPhim">
      <i class="pi pi-caret-right"></i>
    </div>
  </div>
  <div class="cart__content">
    <p pTooltip="{{ movie?.tenPhim }}" tooltipPosition="top" placeholder="Top">
      {{ movie?.tenPhim | subStringPipe: 15 }}
    </p>
  </div>
  <div class="cart__foodter">
    <div>
      <button
        pButton
        pRipple
        type="button"
        label="Detail"
        icon="pi pi-info-circle"
        class="p-mr-3"
        [routerLink]="'/detail/'+ movie?.maPhim"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Bookmark"
        icon="pi pi-tag"
        class="p-button-outlined"
        (click)="addStore()"
      ></button>
    </div>
    <div class="p-mt-3">
      <p-rating
        [ngModel]="val"
        readonly="true"
        stars="5"
        [cancel]="false"
      ></p-rating>
    </div>
  </div>
</section>
