<section id="edit__user">
  <form [formGroup]="FormSignIn" (ngSubmit)="onSubmit()" id="form__signUp">
    <h3>Form Edit Profile User</h3>
    <!-- --- -->
    <div class="p-d-flex input__form">
      <span class="p-float-label">
        <input
          id="full-name"
          type="text"
          formControlName="fullName"
          pInputText
        />
        <label for="full-name">Full Name</label>
      </span>
      <p-message
        severity="error"
        *ngIf="fullName?.touched && fullName?.invalid"
        class="p-ml-3"
      ></p-message>
      <p-message
        severity="success"
        *ngIf="fullName?.touched && fullName?.valid"
        class="p-ml-3"
      ></p-message>
      <div
        class="alert alert-danger p-ml-3"
        *ngIf="fullName?.touched && fullName?.invalid"
      >
        <div *ngFor="let item of FormMessage.fullNameMgs">
          <small class="p-error" *ngIf="fullName!.hasError(item.type)">{{
            item.mgs
          }}</small>
        </div>
      </div>
    </div>
    <!-- --- -->
    <div class="p-d-flex input__form">
      <span class="p-float-label">
        <input
          id="password"
          type="password"
          formControlName="password"
          pInputText
        />
        <label for="password">Password</label>
      </span>
      <p-message
        severity="error"
        *ngIf="password?.touched && password?.invalid"
        class="p-ml-3"
      ></p-message>
      <p-message
        severity="success"
        *ngIf="password?.touched && password?.valid"
        class="p-ml-3"
      ></p-message>
      <div
        class="alert alert-danger p-ml-3"
        *ngIf="password?.touched && password?.invalid"
      >
        <div *ngFor="let item of FormMessage.passwordMgs">
          <small class="p-error" *ngIf="password!.hasError(item.type)">{{
            item.mgs
          }}</small>
        </div>
      </div>
    </div>
    <!-- --- -->
    <div class="p-d-flex input__form">
      <span class="p-float-label">
        <input
          id="email"
          type="text"
          formControlName="email"
          pInputText
        />
        <label for="email">Email</label>
      </span>
      <p-message
        severity="error"
        *ngIf="email?.touched && email?.invalid"
        class="p-ml-3"
      ></p-message>
      <p-message
        severity="success"
        *ngIf="email?.touched && email?.valid"
        class="p-ml-3"
      ></p-message>
      <div
        class="alert alert-danger p-ml-3"
        *ngIf="email?.touched && email?.invalid"
      >
        <div *ngFor="let item of FormMessage.emailMgs">
          <small class="p-error" *ngIf="email!.hasError(item.type)">{{
            item.mgs
          }}</small>
        </div>
      </div>
    </div>
    <!-- --- -->
    <div class="p-d-flex input__form">
      <span class="p-float-label">
        <input
          id="number-phone"
          type="text"
          formControlName="numberPhone"
          pInputText
        />
        <label for="number-phone">Phone</label>
      </span>
      <p-message
        severity="error"
        *ngIf="numberPhone?.touched && numberPhone?.invalid"
        class="p-ml-3"
      ></p-message>
      <p-message
        severity="success"
        *ngIf="numberPhone?.touched && numberPhone?.valid"
        class="p-ml-3"
      ></p-message>
      <div
        class="alert alert-danger p-ml-3"
        *ngIf="numberPhone?.touched && numberPhone?.invalid"
      >
        <div *ngFor="let item of FormMessage.numberPhoneMgs">
          <small class="p-error" *ngIf="numberPhone!.hasError(item.type)">{{
            item.mgs
          }}</small>
        </div>
      </div>
    </div>
    <!-- --- -->
    <div class="input__select">
      <select
        name="classify"
        id="input"
        class="form-control"
        (change)="selectOption($event)"
        formControlName="classify"
      >
        <option value="KhachHang">Client</option>
        <option value="QuanTri">Admin</option>
      </select>
    </div>
    <!-- --- -->
    <div class="btn__submit">
      <button
        pRipple
        type="submit"
        class="btn btn-danger p-py-3 p-px-4"
        [disabled]="FormSignIn.invalid"
      >
        Update User
      </button>
    </div>
    <!-- --- -->
  </form>
</section>

<p-toast
  position="center"
  key="signIn"
  (onClose)="onReject()"
  [baseZIndex]="5000"
>
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button
            type="button"
            pButton
            (click)="onConfirm()"
            label="Yes"
            class=""
          ></button>
        </div>
        <div class="p-col-6">
          <button
            type="button"
            pButton
            (click)="onReject()"
            label="No"
            class="p-button-danger"
          ></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
<p-toast></p-toast>
