<section id="navbar__admin">
  <div class="admin__img">
    <img src="../../../../../assets/image/carousel/avatar.jpg" alt="...">
  </div>
  <div class="admin__content">
    <div class="admin__item">
      <i class="pi pi-times"></i><span>Dashboard</span>
    </div>
    <div class="admin__item">
      <i class="pi pi-times"></i><span>List Movie</span>
    </div>
    <div class="admin__item">
      <i class="pi pi-times"></i><span>Dashboard</span>
    </div>
    <div class="admin__item">
      <i class="pi pi-times"></i><span>Dashboard</span>
    </div>
  </div>
</section>
