<section id="navbar__admin">
  <div class="admin__img">
    <img src="../../../../../assets/image/carousel/avatar.jpg" alt="...">
  </div>
  <div class="admin__content">
    <div class="admin__item" routerLink="/admin/dashboard">
      <i class="pi pi-th-large"></i><span>Dashboard</span>
    </div>
    <div class="admin__item" routerLink="/admin/movies">
      <i class="pi pi-video"></i><span>Movies</span>
    </div>
    <div class="admin__item" routerLink="/admin/users">
      <i class="pi pi-users"></i><span>Users</span>
    </div>
    <div class="admin__item" routerLink="/">
      <i class="pi pi-home"></i><span>Home</span>
    </div>
  </div>
</section>
