@import '../../../../utils/responsive.scss';
#sign-in{
  background-image: url('../../../../../assets/image/carousel/bg-1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  .btn__home{
    position: absolute;
    top:10px;
    left: 10px;
  }
  #form__signIn{
    input.ng-invalid.ng-touched{
      border-right: 3px solid #f03;
    }
    input.ng-valid.ng-touched{
      border-right: 3px solid #0f5;
    }
    width: 50%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.8);
    text-align: center;
    padding: 60px 15%;
    @include responsive(xl){
      padding-top: 150px;
      width: 70%;
    }
    @include responsive(sm){
      padding-top: 50px;
      width: 100%;
    }
    .signIn__overlay{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      @include responsive(xl){
        left: 70%;
        transform: translate(-50%,-70%);
      }
      @include responsive(sm){
        display: none;
      }
      i{
        padding: 20px;
        font-size: 16px;
        background-color: #fff;
        color: $color-primary !important;
        border-radius: 50%;
      }
    }
    h3{
      margin-bottom: 50px;
      color: #fff;
    }
    .signIn__alert{
      height: 40px;
    }
    .signIn__btn{
      display: flex;
      justify-content: space-between;
      align-items: center;
      button{
        padding: 8px 25px;
        color: #fff !important;
        border: 1px solid #fff;
      }
      span{
        color: #fff;
        font-size: 14px;
        &:hover{
          color: #f03;
        }
      }
    }
  }
}
