@import '../../../../utils/responsive.scss';
#sign-in{
  background-image: url('../../../../../assets/image/carousel/bg-1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  .btn__home{
    position: absolute;
    top:10px;
    left: 10px;
    z-index: 100;
  }
  #form__signIn{
    input.ng-invalid.ng-touched{
      border-right: 3px solid #f03;
    }
    input.ng-valid.ng-touched{
      border-right: 3px solid #0f5;
    }
    width: 50%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.8);
    text-align: center;
    position: relative;
    z-index: 90;
    @include responsive(xl){
      width: 80%;
    }
    @include responsive(sm){
      width: 100%;
    }
    .form__signIn{
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%,-40%);
      border: 2px solid #fff;
      border-radius: 20px;
      padding: 40px 60px;
      width: 70%;
      box-shadow: 0 0 3px 5px rgba(#fff,0.5),inset 0 0 3px 4px rgba(#fff,0.3);
      @include responsive(sm){
        width: 90%;
      }
    }
    .signIn__overlay{
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-50%,-100%);
      // @include responsive(xl){
      //   left: 70%;
      //   transform: translate(-50%,-70%);
      // }
      @include responsive(sm){
        display: none;
      }
      i{
        padding: 20px;
        font-size: 16px;
        background-color: #fff;
        color: $color-primary !important;
        border-radius: 50%;
      }
    }
    h3{
      margin-bottom: 50px;
      color: #fff;
    }
    .signIn__alert{
      height: 40px;
      small{
        font-weight: bold;
      }
    }
    .signIn__btn{
      display: flex;
      justify-content: space-between;
      align-items: center;
      button{
        padding: 8px 25px;
        color: #fff !important;
        border: 1px solid #fff;
      }
      span{
        color: #fff;
        font-size: 14px;
        &:hover{
          color: #f03;
        }
      }
    }
  }
}
