<div id='carousel'>
  <div id="carouselMovie" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselMovie" data-slide-to="0" class="active"></li>
      <li data-target="#carouselMovie" data-slide-to="1" ></li>
      <li data-target="#carouselMovie" data-slide-to="2" ></li>
      <li data-target="#carouselMovie" data-slide-to="3" ></li>
      <li data-target="#carouselMovie" data-slide-to="4" ></li>
      <li data-target="#carouselMovie" data-slide-to="5" ></li>
      <li data-target="#carouselMovie" data-slide-to="6" ></li>
    </ol>
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <img [src]="'../../../../../assets/image/carousel/'+itemActive.img+'.jpg'" class="d-block w-100" alt="...">
        <div class="carousel__button">
          <p-button label="Info" [routerLink]="'/detail/'+ itemActive.tolink" icon="pi pi-exclamation-circle" class="p-mr-2" [style]="{}" ></p-button>
          <app-pop-up [dataPopUp]="itemActive"></app-pop-up>
        </div>
      </div>
      <div class="carousel-item" *ngFor="let item of list">
        <img [src]="'../../../../../assets/image/carousel/'+ item.img + '.jpg'" class="d-block w-100" alt="...">
        <div class="carousel__button">
          <p-button label="Info" [routerLink]="'/detail/'+ item.tolink" icon="pi pi-exclamation-circle" class="p-mr-2"></p-button>
          <app-pop-up [dataPopUp]="item"></app-pop-up>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselMovie" data-slide="prev">
      <i class="pi pi-angle-double-left"></i>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselMovie" data-slide="next">
      <i class="pi pi-angle-double-right"></i>
    </button>
  </div>
</div>
