<div class="row bt-tuan1">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>STT</th>
          <th>ID</th>
          <th>Tên</th>
          <th>Phân Loại</th>
          <th>Trạng Thái</th>
          <th>Cập Nhật</th>
          <th>xóa SP</th>
        </tr>
      </thead>
      <tbody>
        <!-- set ngclass chan le -->
        <tr *ngFor="let item of myData; let i = index; let o = odd; let e = even" [ngClass]="{ odd: o, even: e }">
          <td>{{ i + 1 }}</td>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <ng-container [ngSwitch]="item.phanLoai">
            <td *ngSwitchCase="'traiCay'">Trái Cây</td>
            <td *ngSwitchCase="'rauCu'">Rau Củ</td>
            <td *ngSwitchCase="'dongVat'">Động Vật</td>
            <td *ngSwitchDefault>Chưa Phân Loại</td>
          </ng-container>
          <td>
            <p [ngClass]="{'Active':item.trangThai === '1','noActive':item.trangThai === '-1'}">{{item.trangThai ==='1'
              ?
              'Còn Hàng':'Hết Hàng'}}</p>
          </td>
          <td>
            <button type="button" class="btn btn-info"(click)="onGetDataForm(item)">Cập nhật</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">Xóa SP</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-5">
    <form>
      <div class="form-group">
        <label for="nameF">Tên Sản Phẩm</label>
        <input type="text" class="form-control" id="nameF" [(ngModel)]="tenSanPham"
          [ngModelOptions]="{ standalone: true }" />
        <small id="nameF" class="form-text text-muted">two-way binding : {{ tenSanPham }}</small>
      </div>
      <label for="phanLoai">Phân Loại</label>
      <select name="" id="phanLoai" class="form-control" required="required" value={{phanLoai}} #phanLoai1
        (change)="onchange('phanLoai', phanLoai1.value)">
        <option value="traiCay">Trái Cây</option>
        <option value="rauCu">Rau Củ</option>
        <option value="dongVat">Động Vật</option>
      </select>
      <small id="phanLoai" class="form-text text-muted">template Variable: {{ phanLoai }}</small>
      <label for="status">Trạng Thái</label>
      <select name="trangThai" id="status" class="form-control" required="required" value={{trangThai}} #trangThai1
        (change)="onchange('trangThai', trangThai1.value)">
        <option value="1">còn hàng</option>
        <option value="-1">hết hàng</option>
      </select>
      <small id="status" class="form-text text-muted">template Variable: {{ trangThai }}</small>
      <button type="submit" class="btn btn-primary mr-5" (click)="onAddData(tenSanPham,phanLoai1.value,trangThai1.value)">
        Thêm Sản Phẩm Mới
      </button>

      <button type="button" class="btn btn-success"(click)="onReset()">Reset</button>

      <ng-container *ngIf="id === 0; else THK">
        <button type="button" class="btn btn-warning ml-5" disabled>
          Cập nhật sản phẩm
        </button>
      </ng-container>
      <ng-template #THK>
        <button type="button" class="btn btn-warning ml-5" (click)="onUpdateData()" >
          Cập nhật sản phẩm
        </button>
      </ng-template>
      <button type="button" class="btn btn-danger ml-3 ">ID: {{id}}</button>
    </form>
  </div>
</div>
