<section id="booking" *ngIf="dataChair !== '';else noListChair">
  <div class="btn__home">
    <p-button label="Back" icon="pi pi-arrow-left" (click)="onGoback()" style="margin-right: 10px;"></p-button>
    <p-button label="Home" icon="pi pi-arrow-left" routerLink="/"></p-button>
  </div>
  <div class="screen__booking">
    <p>Booking sticket</p>
  </div>
  <div class="list__chair">
    <app-chair [chair]='item' (isChair)="isChairBook($event)" *ngFor="let item of listChair"></app-chair>
  </div>
  <div class="descript__chair">
    <div class="descript__title">
      <p>Total Seat:</p>
      <p>{{totalChair}}</p>
    </div>
    <div class="descript__title">
      <p class="id1">Booked:</p>
      <p>{{Booked}}</p>
    </div>
    <div class="descript__title">
      <p class="id2">UnBooked:</p>
      <p>{{unBooked}}</p>
    </div>
    <div class="descript__title">
      <p class="id3">Choosing:</p>
      <p>{{Choosing}}</p>
    </div>
  </div>
  <div class="text-center py-5">
    <button pButton type="button" label="Booking Now" icon="pi pi-ticket" class="p-button-lg" (click)="onBooking()"></button>
  </div>
</section>
<ng-template #noListChair>
  <app-loading></app-loading>
</ng-template>
<p-toast position="center" key="booking" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div class="p-text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
          </div>
          <div class="p-grid p-fluid">
              <div class="p-col-6">
                  <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
              </div>
              <div class="p-col-6">
                  <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
              </div>
          </div>
      </div>
  </ng-template>
</p-toast>
<p-toast></p-toast>

