<section id="New__showTime">
  <div class="p-mb-4 p-d-flex p-jc-between">
    <span class="code__movie">Code Movie: {{movie?.maPhim}}</span>
    <span class="p-ml-3 code__movie">Movie: {{movie?.tenPhim}}</span>
  </div>
  <div class="p-mb-4">
    <p>System cinema</p>
    <p-dropdown [options]="ArrTheater" [(ngModel)]="theater" [showClear]="true" editable="true" optionLabel="name" [style]="{ width: '100%' }"></p-dropdown>
  </div>
  <div class="p-mb-4">
    <p>Premiere</p>
    <p-calendar [(ngModel)]="date" [showTime]="true" inputId="time" dateFormat="dd-mm-yy" appendTo="body" baseZIndex="10000" placeholder="Premiere time" [style]="{ width: '100%' }"></p-calendar>
  </div>
  <div class="p-text-center">
    <button pButton pRipple type="button" label="Add Showtime" (click)="onAddMovie()"></button>
  </div>
</section>
