<section id="navbar__client" class="p-d-flex p-jc-end">
  <div class="p-mr-3">
    <button type="button" pButton pRipple (click)="visibleUser = true">
      <span>Users</span>
      <i
        class="pi pi-user p-ml-3 p-text-secondary"
        pBadge
        style="font-size: 1rem; color: #fff"
        severity="{{ statusUser }}"
      ></i>
    </button>
  </div>
  <div>
    <p-button (click)="showBasicDialog2()">
      <span>Bookmark</span>
      <i
        class="pi pi-bell p-ml-3 p-text-secondary"
        pBadge
        style="font-size: 1rem; color: #fff"
        severity="danger"
        value="{{ numberData }}"
      ></i>
    </p-button>
  </div>
</section>
<!-- side-bar -->
<p-sidebar
  [(visible)]="visibleUser"
  position="right"
  [baseZIndex]="10000"
  [style]="{ width: '25rem' }"
>
  <h3 class="p-text-center">-- User --</h3>
  <div>
    <app-user-login></app-user-login>
  </div>
  <button
    pButton
    pRipple
    type="button"
    class="p-button-danger"
    (click)="visibleUser = false"
  >
   -Cancel-
  </button>
</p-sidebar>

<p-dialog
  header="Bookmark Movies"
  [(visible)]="displayBasic2"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  appendTo="body"
  [transitionOptions]="'200ms'"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
>
  <div *ngIf="dataBookmark.length > 0; else noBookmark">
    <p-table
      [value]="dataBookmark"
      [paginator]="true"
      [rows]="4"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Bookmark {first} to {last} of {totalRecords} Movie"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 15%">ID</th>
          <th style="width: 15%">Image</th>
          <th style="width: 30%">Name</th>
          <th style="width: 40%">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-book>
        <tr class="tr__hover">
          <td>{{ book.maPhim }}</td>
          <td pRipple>
            <img src="{{ book.hinhAnh }}" alt="..." />
          </td>
          <td>
            {{ book.tenPhim | subStringPipe: 12 }}
          </td>
          <td>
            <button
              pButton
              pRipple
              type="button"
              label="Detail"
              class="p-button-outlined p-mr-md-2 p-text-center"
              [routerLink]="'/detail/' + book.maPhim"
            ></button>
            <button
              pButton
              type="button"
              label="Delete"
              class="p-button-outlined p-button-danger p-text-center"
              (click)="showConfirm(book); displayBasic2 = false"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <ng-template #noBookmark>
    <div class="no__bookmark">
      <div class="no__bookmark--icon">
        <i class="pi pi-tags"></i>
      </div>
      <div class="no__bookmark--icon">
        <h3>Is Not Movies Bookmark</h3>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (click)="displayBasic2 = false"
      label="Exit"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button
            type="button"
            pButton
            (click)="onConfirm()"
            label="Yes"
            class="p-button-danger"
          ></button>
        </div>
        <div class="p-col-6">
          <button
            type="button"
            pButton
            (click)="onReject()"
            label="No"
          ></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
