/* You can add global styles to this file, and also import other style files */
html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  overflow-x: hidden;
  max-width: 1360px;
  margin: auto;
  scroll-behavior: smooth;
  // .p-dialog, .p-dialog-mask.p-component-overlay{
  //   background-color: rgba($color: #f00, $alpha: 0.7) !important;
  // }
}
body{
  .p-dialog, .p-dialog-mask.p-component-overlay{
    background-color: rgba($color: #000, $alpha: 0.8) !important;
  }
  .p-dialog-header{
    .p-dialog-title{
      color: #f00;
    }
  }
}
