<footer id="footer">
  <div class="footer__ui">
    <div class="footer__1">
      <ul>
        <li>
          <i class="pi pi-book"></i>
          <span>My Home Page</span>
        </li>
        <li>
          <i class="pi pi-book"></i>
          <span>Terms of use</span>
        </li>
        <li>
          <i class="pi pi-book"></i>
          <span>Cooperate with us</span>
        </li>
        <li>
          <i class="pi pi-book"></i>
          <span>Supporting policies</span>
        </li>
      </ul>
    </div>
    <div class="footer__2">
      <ul>
        <li>
          <i class="pi pi-phone"></i>
          <span>Hotline: 0909123123</span>
        </li>
        <li>
          <i class="pi pi-phone"></i>
          <span>Support: 0909111222 </span>
        </li>
        <li>
          <i class="pi pi-envelope"></i>
          <span>Email Us: Support@gmail.com</span>
        </li>
        <li>
          <i class="pi pi-map"></i>
          <span>Address: TP.Ho Chi Minh</span>
        </li>
      </ul>
    </div>
    <div class="footer__3">
      <ul>
        <li (click)="onOpen()">
          <i class="pi pi-youtube"></i>
          <span>Youtube</span>
        </li>
        <li>
          <i class="pi pi-google"></i>
          <span>Google</span>
        </li>
        <li>
          <i class="pi pi-twitter"></i>
          <span>twitter</span>
        </li>
        <li>
          <i class="pi pi-facebook"></i>
          <span>facebook</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__bg">
  </div>
</footer>
