<section id="dashboard">
  <div>
    <h3>Dashboard</h3>
  </div>
  <div class="dashboard__1">
    <div class="dashboard__item">
      <div class="dashboard__item--text">
        <i class="pi pi-video"></i>
        <p>Movies</p>
      </div>
      <h1 >100</h1>
    </div>
    <div class="dashboard__item">
      <div class="dashboard__item--text">
        <i class="pi pi-calendar-plus"></i>
        <p>Time</p>
      </div>
      <h1 >100</h1>
    </div>
    <div class="dashboard__item">
      <div class="dashboard__item--text">
        <i class="pi pi-globe"></i>
        <p>System</p>
      </div>
      <h1>35+</h1>
    </div>
    <div class="dashboard__item">
      <div class="dashboard__item--text">
        <i class="pi pi-users"></i>
        <p>User</p>
      </div>
      <h1>100</h1>
    </div>
  </div>
  <div class="dashboard__2">

    <div class="dashboard__item">
      <div class="dashboard__item--text">
        <i class="pi pi-cloud-download"></i>
        <p>DownLoad</p>
      </div>
      <h1>60+</h1>
    </div>

    <div class="dashboard__item">
      <div class="dashboard__item--text">
        <i class="pi pi-cloud-upload"></i>
        <p>Upload</p>
      </div>
      <h1>40+</h1>
    </div>

    <div class="dashboard__item">
      <div class="dashboard__item--text">
        <i class="pi pi-bell"></i>
        <p>Message</p>
      </div>
      <h1>25+</h1>
    </div>

    <div class="dashboard__item">
      <div class="dashboard__item--text">
        <i class="pi pi-envelope"></i>
        <p>Email</p>
      </div>
      <h1>5+</h1>
    </div>

  </div>
  <div class="dashboard__3">
    <p-chart type="bar" [data]="databar" height="50vh"></p-chart>
  </div>
</section>
